[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-environ = "*"
python-dotenv = '*'
jwt = "*"
django-multiselectfield = "*"
djangorestframework = "*"
django-allauth = "*"
dj-rest-auth = "*"
djangorestframework-simplejwt = "*"
boto3 = "==1.17.58"
django-storages = "==1.11.1"
pyjwt = "*"
pyrebase4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
