{% extends 'base.html' %}

{% block title %}
{{ school.name }}
{% endblock title %}

{% block imports %}
{% load static %}
<link rel="stylesheet" href="{% static 'app/css/dashboard.css' %}">
{% endblock imports %}

{% block content %}

<section class="section container">
    <div>
        <h3 class="title is-3"> {{ school.name }} </h3>
        <div class="block is-flex is-justify-content-center is-flex-direction-row">
            <div class="is-flex-grow-1">
                <h5 class="title is-5">School code: {{school.join_code}} </h5>
                <p class="subtitle is-size-5">Give this code to your students. Any student with this code will be able to join your school. </p>
            </div>
            <div class="is-flex-grow-0">
                <!-- <a href="" class="mt-2 button has-background-black has-text-white" target="_blank">
                    <span>Download student instruction sheet</span>
                    <span class="icon is-small">
                        <i class="fa-solid fa-circle-arrow-down"></i>
                    </span>
                </a> -->
            </div>

        </div>
    </div>

</section>

<section class="section container">
    <h3 class="title is-3">School students</h3>

    <div class="columns is-multline is-tablet">
        {% for student in students %}

        <div class="column is-one-quarter-desktop is-one-third-tablet">
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title is-flex is-align-items-center is-justify-content-center">
                        <span class="has-text-weight-bold is-flex-grow-1">{{ student.name }} </span>
                        <span class="has-text-weight-medium">{{ student.decoded_grade }} </span>
                    </div>
                </div>
                <div class="card-content">
                    <div class="content">
                        {% if student.num_tutorships == 0 %}
                        <p class="has-text-grey"> {{ student.num_tutorships }} volunteers </p>
                        {% else %}
                        <p class="has-text-weight-semibold"> {{ student.num_tutorships }} volunteers </p>
                        <a href="{{ student.detail_url }}" class="button has-text-white has-background-black-bis">
                            <span> See volunteers </span>
                            <span class="icon is-small">
                                <i class="fa-solid fa-circle-arrow-right"></i>
                            </span>
                        </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}


    </div>

</section>

<script>

</script>

{% endblock content %}